.TodoSearch {
  background: #efefef;
  border-radius: 40px;
  border: 2px solid #202329;
  margin: 0 1em;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  font-family: Poppins;
  text-align: center;
  font-weight: bold;
  border: none;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}
.TodoSearch::placeholder {
  color: #0D1F2D;
  font-family: Poppins ;
  font-weight: bold;
  filter: opacity(30%);
}

.TodoSearch:focus {
  outline-color: #0D1F2D;
}